<div class="container">
    <div class="form-group">
        <h1>Post detail</h1>
    </div>
    
    <div class="form-group row">
        <div class="col-2">
            <label><%= @post.id %>번째 글</label>
        </div>
        
        <div class="col-9">
            <h4><%= @post.title %></h4>
        </div>
    </div>
    
    <div class="form-group row">
        <div class="col-2">
            <label>글쓴이</label>
        </div>
        
        <div class="col-10">
            <p><%= @post.user.email %></p>
        </div>
    </div>
    
    <div class="form-group row">
        <div class="col-2">
            <label>작성시간</label>
        </div>
        
        <div class="col-10">
            <p><%= @post.updated_at %></p>
        </div>
    </div>
    
    <div class="form-group row">
        <div class="col-2">
            <label>내용</label>
        </div>
        
        <div class="col-10">
            <p><%= @post.content %></p>
        </div>
    </div>
    
    <div class="text-right">
        <% if session[:user_id] == @post.user_id %>
            <a href="/post/modify/<%= @post.id %>" class="btn btn-outline-primary"> 수정 </a>
            <a href="/post/destroy/<%= @post.id %>" class="btn btn-outline-danger"> 삭제 </a>
        <% end %>
        
    </div>
</div>